@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local("Merriweather"), url("../lib/Merriweather/Merriweather-Regular.ttf") format("woff")
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato"), url("../lib/Lato/Lato-Regular.ttf") format("woff")
}
@font-face{
  font-family: 'NotoSerif';
  font-style: normal;
  font-weight: 400;
  src: local("NotoSerif"), url("../lib/Noto_Serif_SC/NotoSerifSC-Regular.otf") format("truetype")
}
body {
  font-family: 'NotoSerif'
}
h1, h2, h3, h4, h5, h6, .nav, .article-duration, .archive-item-link, .footer {
  font-family: 'NotoSerif'
}